#content {background: #E7E3E3;}
#overallholder {width: 960px; margin: 100px auto 0;}
.content {float: left; color: #fff; width: 100%;}
.content ul, .content li, .content a {color: #000;}

#pop-menu {position: relative; width: 75%; margin:0 auto; -webkit-transition:  all 1.0s ease-in-out; transition:  all 1.0s ease-in-out;}
#pop-menu.open {min-height:500px;}
#pop-menu li, #pop-menu .presser {position: absolute; width: 100px; height: 100px; border-radius: 50%; background: #FAF0F0; display: block; color: #6e6e6e; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#pop-menu .presser {top: 40%; left: 45%; cursor: pointer; font-size: 16px; line-height: 20px;}
#pop-menu ul.open li {width: 200px;height: 200px;}
#pop-menu li, #pop-menu .presser  {top: 40%; left: 45%; -webkit-transition:  all 1.0s ease-in-out; transition:  all 1.0s ease-in-out; cursor: pointer;}
#pop-menu ul li {-webkit-transform: rotate(180deg); transform: rotate(180deg); -ms-transform: rotate(180deg); font-size: 1px;}
#pop-menu ul.open li {-webkit-transform: rotate(0deg); transform: rotate(0deg); -ms-transform: rotate(0deg); font-size: 17px;}
#pop-menu ul.open li.first {top: -1%; left: 38%;}
#pop-menu ul.open li.second  {top: 31%; left: 59.8%;}
#pop-menu ul.open li.third  {top: 61%; left: 38.7%;}
#pop-menu ul.open li.fourth  {top: 33%; left: 16.5%;}
#pop-menu li span, #pop-menu .presser span {display: block; margin: 44% auto 0; width: 80%; text-align: center;}
#pop-menu .presser span {display: block; margin: 35% auto 0;}

.info {opacity: 0; visibility: hidden; width: 100%; height: 100%;position: fixed; top: -100px; left: 0; -webkit-transition: ease-in-out all 0.5s; -moz-transition: ease-in-out all 0.5s; -ms-transition: ease-in-out all 0.5s;}
.info.shown {opacity: 1; visibility: visible; top: 0; }
.info .content {width: 50%; margin: 0 auto; float: none; padding: 40px; margin-top: 30px;}
.info .header { background: orange; padding: 10px 40px;}
.info .infoText {padding: 40px; width: 100%; background: white; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.info .infoText p {color: #6e6e6e;}
.info .info h2 {float: left;}
.info .info-close {cursor: pointer; cursor: pointer; display: inline-block; padding: 10px 20px 0 0; font-weight: bold; float: right; margin-top: 18px;}
.aboutInfo, .aboutInfo li {list-style-type: none; margin: 0; padding: 0; display: block;}

i {display: none !important;}

@media (max-width: 960px) {
    #overallholder {width: 100%;}
    #pop-menu {width: 100%;}
}

@media (max-width: 767px) {
    #pop-menu ul.open li.first {top: -3%; left: 37%;}
    #pop-menu ul.open li.second  {top: 31%; left: 63.8%;}
    #pop-menu ul.open li.third  {top: 63%; left: 37%;}
    #pop-menu ul.open li.fourth  {top: 33%; left: 11.5%;}
}

@media (max-width: 600px) {
    #pop-menu .presser {top: 0%; left: 48%; width: 75px; height: 75px;}
    #pop-menu li span, #pop-menu .presser span {margin-top: 34%;}
    #pop-menu ul.open li {width: 75px; height: 75px;}
    #pop-menu li {top: 0%; left: 48%; width: 75px; height: 75px;}
    #pop-menu li span {font-size: 13px; height: 40px; display: inline-block; width: 90%; text-align: center;}
    #pop-menu ul.open li.first {top: 100px; left: 48%;}
    #pop-menu ul.open li.second  {top: 180px; left: 48%;}
    #pop-menu ul.open li.third  {top: 260px; left: 48%;}
    #pop-menu ul.open li.fourth  {top: 340px; left: 48%;}
    i {display: inline-block !important; font-size: 30px; position: absolute; top: 24px; left: 31%; width: 26px;}
    i.fa-desktop{top: 25px; left: 27%;}
    i.fa-power-off {left: 33%;}
    #pop-menu li span {display: none !important;}
}
@media (max-width: 320px) {
    #pop-menu ul li, #pop-menu ul.open li, #pop-menu .presser {left: 30% !important;}
}
